{% extends "index.html" %}

{% block content %}
<div class="container text-center">
    <div class="grid-table">
        <div class="col-12 col-md-6 py-5 form-container create-div">
            <p id="show-error">{{ error }}</p>
            <div class="mk_time">
                <h2>Assign Theory Slots</h2>
                <h2>{{ CURR_YEAR_SEM.upper() }}</h2>
                <hr />
            </div>
            <div class="mk_time">
                <form action="/assign_slots" id="slot-form" method="POST">
                    <div class="form-group d-flex align-items-center">
                        <label for="class">Class :</label>
                        <select id="class" name="class" onchange="filterSlots(this)">
                            <option selected disabled>Select</option>
                            {% for clas in input_class_res %}
                                <option value="{{ clas[0] }}">{{ clas[0] }}</option>
                            {% endfor %}
                        </select>
                        <br />
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label for="division">Division :</label>
                        <select id="division" name="division" onchange="filterSlots(this)" multiple>
                            <option selected disabled>Select</option>
                            <!-- Add other division options here -->
                        </select>
                        <br />
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label for="subject">Subject :</label>
                        <select id="subject" name="subject" onchange="filterSlots(this)">
                            <option selected disabled>Select</option>
                            <!-- Add other subject options here -->
                        </select>
                        <br />
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label for="room">Room :</label>
                        <select id="room" name="room">
                            <option selected disabled>Select</option>
                        </select>
                        <br />
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label for="faculty">Faculty :</label>
                        <select id="faculty" name="faculty">
                            <option selected disabled>Select</option>
                        </select>
                        <br />
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label for="multiple-faculty">Multiple Faculty :</label>
                        <input type="text" id="multiple-faculty" name="multiple-faculty">
                        <br />
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label for="batch">Batch :</label>
                        <select id="batch" name="batch">
                            <option selected disabled>Select</option>
                            <option value="NO">NO</option>
                            <!-- Add other batch options here -->
                        </select>
                        <br />
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <label for="slots">Select Slots :</label>
                        <select id="slots" name="slots" multiple style="height: 30vh;">
                            {% for slot in slots_res %}
                                <option value="{{slot[0]}}">{{ slot[1] }}</option>
                            {% endfor %}
                            <!-- Add other slots options here -->
                        </select>
                        <br />
                    </div>
                    <div class="form-buttons">
                        <button type="submit" class="btn assign-theory" name="submit-button" value="L">Assign Theory</button>
                        <button type="submit" class="btn assign-practical" name="submit-button" value="T" style="background-color:brown !important;">Assign Tutorial</button>
                        <button type="submit" class="btn assign-practical" name="submit-button" value="P">Assign Practical</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6 py-5 form-container show-div" style="background-color: #eee;margin-left: 5%;">
            <div class="mk_time mk_time_sh">
                <h2>Assigned Slots</h2>
                <h2>{{ g.CURR_DEPT }} Department</h2>
                <hr>
                <form action="/edit_slots" method="POST">
                    <button type="submit" id="editButton" value="()" name="slots_edit">Edit</button>
                </form>
            </div>
            <div class="exist_table">
                <table style="width: 100%;">
                    <thead>
                        <tr id="TableHead">
                            <th>Click Update</th>
                            <th>Class</th>
                            <th>Subject</th>
                            <th>Slot</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Faculty</th>
                            <th>Room</th>
                            <th>Division</th>
                            <th>Batch</th>
                            <th>Type</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                            <tr>
                                <td><input value="{{ row[0] }}" type="checkbox" name="check_box" onchange="addIdtoUpdate(this)"/></td>
                                {% for data in row[1:] %}
                                    <td>{{ data }}</td>
                                {% endfor %}
                                <td>
                                    <div class="icons">
                                        <form action="/remove_slot" method="POST">
                                        <input type="hidden" name="del_slot" value="{{ row[0] }}">
                                        <input type="image" src="{{url_for('static', filename='/images/delete.png')}}" class="del-icon" alt="search icon" name="delete" value="delete"/>
                                        </form>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>


    function addIdtoUpdate(element){
        const editButton = document.getElementById("editButton");
        const idToAdd = element.value;
        if(!(editButton.value.includes(idToAdd))){
            editButton.value = editButton.value.slice(0,-1) + idToAdd + "," +editButton.value.slice(-1); 
        } else {
            editButton.value = editButton.value.replace(idToAdd+",", "");
        }
        console.log(editButton.value);
    }

    document.addEventListener("DOMContentLoaded", () => {
        const class_id = document.getElementById("class");

        class_id.addEventListener("change", (event) => {
            const selected_class = event.target.value;
            const sel_json = {
                "sel_class": selected_class
            };

            fetch("/get_div", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(sel_json)
            })
            .then(response => response.json())
            .then(data => {
                const division = document.getElementById("division");
                const subject = document.getElementById("subject");
                const room = document.getElementById("room");
                const faculty = document.getElementById("faculty");
                const batch = document.getElementById("batch");
                
                // Clear old options
                division.innerHTML = "<option selected disabled>Select</option>";
                subject.innerHTML = "<option selected disabled>Select</option>";
                room.innerHTML = "<option selected disabled>Select</option>";
                faculty.innerHTML = "<option selected disabled>Select</option>";
                batch.innerHTML = "<option selected disabled>Select</option><option value='NO'>NO</option>";

                const div_res = data.divisions;
                const sub_res = data.subjects;
                const room_res = data.rooms;
                const fac_res = data.faculty;

                console.log(sub_res);

                div_res.forEach((div) => {
                    const newOption = document.createElement("option");
                    newOption.text = div[0];
                    newOption.value = div[0];
                    division.appendChild(newOption);
                });
                
                division.addEventListener("change", (event) => {
                    const sel_batch = event.target.value;
                    if(sel_batch.length >= 2){
                        var add_symbol = "-";
                    } else {
                        var add_symbol = "";
                    }
                    batch.innerHTML = "<option selected disabled>Select</option><option value='NO'>NO</option>";
                    div_res.forEach((div) => {
                        if (sel_batch === div[0]) {
                            for (let k = 0; k < div[1]; k++) {
                                const cur_batch = div[0] + add_symbol +String(k + 1);
                                const newOption = document.createElement("option");
                                newOption.text = cur_batch;
                                newOption.value = cur_batch;
                                batch.appendChild(newOption);
                            }
                        }
                    });
                });

                sub_res.forEach((sub) => {
                    const newOption = document.createElement("option");
                    newOption.text = sub;
                    subject.appendChild(newOption);
                });

                room_res.forEach((rooma) => {
                    const newOption = document.createElement("option");
                    newOption.text = rooma;
                    room.appendChild(newOption);
                });

                fac_res.forEach((fac) => {
                    const newOption = document.createElement("option");
                    newOption.text = fac;
                    faculty.appendChild(newOption);
                });
            });
        });
    });

    const errorShow = document.getElementById("show-error");
    if(errorShow.innerText.length > 1){
        alert(errorShow.innerText);
    }
</script>

{% endblock content %}
