<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timetable</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/timetable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/assign_slots.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/"><img src="{{url_for('static', filename='/images/home.png')}}" alt="Home" height="20" width="20" style="margin-bottom: 2.5%;padding-right: 2.5%;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/add_subjects"> <img src="{{url_for('static', filename='/images/subject.png')}}" alt="Subject" height="20" width="20" style="margin-bottom: 2.5%;padding-right: 2.5%;">Add Subject</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/add_faculty"><img src="{{url_for('static', filename='/images/faculty.png')}}" alt="Faculty" height="20" width="20" style="margin-bottom: 2.5%;padding-right: 2.5%;">Add Faculty</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/add_room"><img src="{{url_for('static', filename='/images/room.png')}}" alt="Room" height="20" width="20" style="margin-bottom: 2.5%;padding-right: 2.5%;">Add Room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/add_div">Add Division</a>
            </li>
          </ul>
        </div>
        <ul class="nav justify-content-end">
          <div style="display: flex; justify-content: center; align-items: center;color: #007bff;">
            <li class="nav-item">
              Welcome {{ g.CURR_USER }}  
              {# Here We have to add the functionality of Dynamic Department #}
            </li>
            <li class="nav-item">
              <form class="container-fluid justify-content-start" action="/logout">
                <button class="btn btn-sm btn-outline-secondary" type="submit">Log Out</button>
              </form>
            </li>
          </div>
        </ul>
      </div>
    </nav>
      {% block content %}
      {% endblock %}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    const alreadyChanged = [];

    function filterSlots(element){
      const trows = document.getElementsByTagName("tr");

      if(alreadyChanged.includes(element.name)){
        for(let row of rows){
          if(row.id == "TableHead"){
            continue
          }
          const td = row.getElementsByTagName("td");
          for(let dt of td){
            if(data.innerText == element.value){
              row.style.display = "";
            }
          }
        }
      }

      for(let row of trows){
        if(row.id == "TableHead"){
          continue
        }
        if(row.style.display == "None"){
          continue;
        }
        let row_pass = false
        const tdata = row.getElementsByTagName("td");
        for(let data of tdata){
          if(data.innerText == element.value){
            row_pass = true;
            row.style.display = "";
          }
        }
        if(!row_pass){
          row.style.display = "None";
        }
      }

      if(element.name == "subject"){
        const sub_val = element.value;
        const sel_sub = {
          "getSubject": sub_val,
        };

        fetch("/get_sub",{
          method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(sel_sub)
        })
        .then(response => response.json())
        .then(data => {
            const subBatchList = data.batchList;
            const batchID = document.getElementById("batch");
            var batchHTML = "<option selected disabled>Select</option>"+"<option value='NO'>NO</option>";


            if(subBatchList != "None"){
              subBatchList.forEach((batch)=>{
                var tempBatch = `<option value='${batch}'>${batch}</option>`
                batchHTML = batchHTML + tempBatch;
              });
              batchID.innerHTML = batchHTML;
            }
        })
      }
    }
    
  </script>
</html>

