{% extends "log_reg.html" %}

{% block content %}
    <div class="log_h1">
        {% if  error%}
            {{ error }}
        {% endif %}
        <h1>Login</h1>
    </div>
    <div class="main_log_reg">
        <form action="/login" method="POST">
            <div class="form-floating mb-3">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Username" />
                <label for="floatingInput" required>Username</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" />
                <label for="floatingPassword" required>Password</label>
            </div>
                <button class="lr_but" type="submit">Login</button>
        </form>
        <p>Create Account? <a href="/register">Register</a></p>
    </div>
{% endblock  %}