{% extends "log_reg.html" %}

{% block content %}
    <div class="log_h1">
        {% if  error%}
            {{ error }}
        {% endif %}
        <h1>Register</h1>
    </div>
    <div class="main_log_reg reg_body">
      <form action="/register" method="POST">
        <div class="form-floating mb-3">
          <input name="college_name" type="text" class="form-control" id="floatingInput"  placeholder="College Name"  required/>
          <label for="floatingInput">College Name</label>
        </div>
        <div class="form-floating mb-3">
          <input name="department_name" type="text" class="form-control" id="floatingInput"  placeholder="Department"  required/>
          <label for="floatingInput">Department Name</label>
        </div>
        <div class="form-floating mb-3">
          <input name="email_id" type="text" class="form-control" id="floatingInput"  placeholder="Email Id"  required/>
          <label for="floatingInput">Email Id</label>
        </div>
        <div class="form-floating mb-3">
          <input name="username" type="text" class="form-control" id="floatingInput"  placeholder="Username"  required/>
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="floatingPassword"  placeholder="Password"  required/>
          <label for="floatingPassword">Password</label>
        </div>
        <button type="submit" class="lr_but">Register</button>
        <p>Already Registered? <a href="/login">Login</a></p>
      </form>
    </div>
{% endblock%}